#home {
    padding-top: 100px;
}

#page {
    margin-top: 30px;
}

/*#sidebar {*/
    /*margin-left: -100px;*/
/*}*/

.people {
    margin: 30px 0 30px 0;
}

.type{
    margin-left: 30px;
}

.vertical_line {
    border-left: 6px solid coral;
    height: 250px;
}

.button {
    background-color: coral;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-color: black;
}

.button-add-to-menu {
    background-color: coral;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    border-color: black;
}

.button-search{
    background-color: coral;
    color: black;
    padding: 2px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px 0 30px;
    cursor: pointer;
    border-color: black;
    box-shadow: black;
}

.button-back {
    margin-top:15px;
    alignment: right;
}

#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align:  right;
}

.sideMenu {
    /*padding: 10px;*/
}

#listHeader {
    background-color: #c5c3be;
}

#totalPrice {
    color: darkred;
    text-align: right;
}

#total_overview {
    color: darkred;
}

#confirmDinner {
    /*Change this*/
    align-self: center;
}

#total_overview {
    margin: 200px 0 0 20px;
}

#button_collapse {
    padding-left: 350px;
}

#dishList {
    margin-top: 50px;
}

#imageDetails {
    margin: 30px 0 20px 0px;
}

#captionOverview {
    padding: 5px 0 0 50px;
}

#dinnerItem {
    padding-top: 40px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loading.gif) center no-repeat #fff;
}