.vertical_line {
    border-left: 6px solid coral;
    height: 250px;
}
.button {
    background-color: coral;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-add-to-menu {
    background-color: coral;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
}

.button-search{
    background-color: coral;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-back {
    margin-top:15px;
    alignment: right;
}



#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align:  right;
}

.sideMenu {
    padding: 10px;
}

#listHeader {
    background-color: #c5c3be;
}

#total {
    color: darkred;
    text-align: right;
}

#confirmDinner {
    /*Change this*/
    align-self: center;
}

#total_overview {
    margin: 200px 0 0 20px;
}

.container .thumbnail {
    margin-right: 20px;
}

#button_collapse {
    padding-left: 350px;
}